@import "tailwindcss";

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  /* font-family: "Source Sans Pro ", -apple-system, BlinkMacSystemFont,
    " Segoe UI ", Roboto, " Helvetica Neue ", Arial, " Noto Sans ", sans-serif,
    " Apple Color Emoji ", " Segoe UI Emoji ", " Segoe UI Symbol ",
    " Noto Color Emoji"; */
  font-family: "Poppins", -apple-system, BlinkMacSystemFont;
}
